<!DOCTYPE html>
<html ng-app="app">
  <head>
    <script src="angular/lib/angular.js"></script>
    <script src="angular/lib/angular-route.js"></script>
      <script src="http://maps.googleapis.com/maps/api/js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div ng-view></div>
    <script src="angular/src/app.js"></script>
    <script src="angular/src/guardarController.js"></script>
    <script src="angular/src/verController.js"></script>
    
  </body>
</html>
